<template>
  <div>
    <div class="row col">
      <h1>Homepage is here</h1>
    </div>

    <div class="row col">
      <p>This is the homepage of our Vue.js application.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home"
};
</script>
